@import '~meiko/styles/_variables.scss';
@import '~meiko/styles/_mixins.scss';

.emperor {
  &__group-cell {
    max-width: 1.45rem;
    padding-right: 0;
    padding-top: 1rem;
    vertical-align: top;
    min-width: 20px;

    background-color: var(--primary-colour);
    border-color: var(--primary-colour);
    border-top-color: var(--table-cell-border-colour);
    color: var(--primary-contrast);

    @include respondToAll((xxs, xs)) {
      max-width: 100%;

      &:not(.emperor__group-cell--visible) {
        background-color: initial;
        border: none;
        color: initial;
        padding: 5px;
      }
    }
  }

  &__group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: rotate(-180deg);
    white-space: nowrap;
    writing-mode: vertical-lr;
    cursor: default;

    &--no-rotate {
      justify-content: center;
      transform: rotate(0deg);
      writing-mode: lr;
    }

    @include respondToAll((xxs, xs)) {
      justify-content: flex-start;
      transform: rotate(0deg);
      writing-mode: lr;
    }
  }

  &__max-width-cell {
    max-width: 300px;

    @media only screen and (max-width: 760px),
      (min-device-width: 768px) and (max-device-width: 1024px) {
      max-width: unset;
    }
  }
}
