@import '~meiko/styles/_variables.scss';
@import '~meiko/styles/_mixins.scss';

.emperor {
  &__group-cell {
    // border: none;
    max-width: 1.45rem;
    padding-right: 0;
    vertical-align: middle;
    min-width: 20px;

    background-color: var(--primary-colour);
    border-color: var(--primary-colour);
    border-top-color: var(--table-cell-border-colour);
    color: var(--primary-contrast);

    @include respondToAll((xxs, xs)) {
      max-width: 100%;

      &:not(.emperor__group-cell--visible) {
        background-color: initial;
        border: none;
        color: initial;
        padding: 5px;
      }
    }
  }

  &__group {
    display: flex;
    justify-content: center;
    transform: rotate(270deg);
    white-space: nowrap;

    @include respondToAll((xxs, xs)) {
      transform: rotate(0deg);
    }
  }
}
