$tyrian-purple: #66023c;
$twilight-lavender: #8a496b;
$brilliant-lavender: #f4bbff;

.theme--light {
  --background-colour: #f1f1f1;
  --text-colour: #2f2f2f;

  --primary-colour: #{$tyrian-purple};
  --primary-contrast: #fff;

  --alt-colour: #{$brilliant-lavender};
  --radio-toggle--box-shadow-colour: #{$brilliant-lavender};

  --scroll-top-button--background: #{$brilliant-lavender};
  --scroll-top-button--background-hover: #{darken($brilliant-lavender, 10%)};
  --scroll-top-button--colour: #000;
}

.theme--dark {
  --background-colour: #282c35;
  --text-colour: #f2f2f2;

  --primary-colour: #fff;
  --primary-contrast: #{$tyrian-purple};

  --alt-colour: #{$twilight-lavender};
  --radio-toggle--box-shadow-colour: #{$twilight-lavender};

  --scroll-top-button--background: #{$twilight-lavender};
  --scroll-top-button--background-hover: #{lighten($twilight-lavender, 10%)};
  --scroll-top-button--colour: #fff;
}

.theme {
  background-color: var(--background-colour);
  color: var(--text-colour);

  --faded-out-background: #ccc;
  --faded-out-colour: #000;

  --table-border-colour: var(--alt-colour);
  --table-cell-border-colour: var(--primary-colour);
}

.table-sort-button {
  &:focus,
  &:hover,
  &:active {
    background-color: var(--alt-colour);
  }
}

/* Overrides */
.radio-toggle__control {
  top: 0px !important; // TODO Fix this in meiko
}

.clearable-input {
  max-height: none !important;

  &__input {
    background: inherit;
    color: inherit;
  }
}
.has-float-label .clearable-input__input:focus {
  border-color: var(--primary-colour);
}

.emp-alert-message.emp-alert-message {
  background-color: var(--background-colour);
  color: var(--text-colour);
  z-index: 50;
}

.autocomplete__menu {
  background-color: var(--background-colour);
}
.autocomplete-suggestion--active.autocomplete-suggestion--active {
  border-color: var(--primary-colour);
}
.autocomplete-suggestion-highlight {
  color: var(--primary-colour);
}

// Tabs
.theme {
  .tabs__panels {
    border-top: 1px solid var(--primary-colour);
  }
  .tab-control:not(.tab-control--active) {
    &:not(:hover),
    .tab-control__button:not(:hover) {
      background-color: var(--faded-out-background);
      color: var(--faded-out-colour);
      border-color: var(--faded-out-background);
      border-bottom: none;
    }
  }
  .tab-control--active,
  .tab-control:hover {
    border: {
      color: var(--primary-colour);
      bottom-color: var(--background-colour);
    }
  }
}
