$tyrian-purple: #66023c;
$twilight-lavender: #8a496b;
$brilliant-lavender: #f4bbff;

.theme--light {
  --background-colour: #f1f1f1;
  --text-colour: #2f2f2f;

  --primary-colour: #{$tyrian-purple};
  --primary-contrast: #fff;

  --alt-colour: #{$brilliant-lavender};
}

.theme--dark {
  --background-colour: #282c35;
  --text-colour: #f2f2f2;

  --primary-colour: #fff;
  --primary-contrast: #{$tyrian-purple};

  --alt-colour: #{$twilight-lavender};
}

.theme {
  background-color: var(--background-colour);
  color: var(--text-colour);

  --table-border-colour: var(--alt-colour);
  --table-cell-border-colour: var(--primary-colour);
}

/* Overrides */
.radio-toggle__control {
  top: 0px !important; // TODO Fix this in meiko
}

.clearable-input__input {
  background: inherit;
  color: inherit;
}
.has-float-label .clearable-input__input:focus {
  border-color: var(--primary-colour);
}
